/* i hate the diferent color for links with :visited on */
a,a:visited {color:blue}

body {
    text-align: center;
}

select,
select option {
    font-size: 18pt;
}

#submitButton {
    font-size: 24pt;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 16pt;
}

td {
    border-style: inset;
}

.tr-button {
	position: fixed;
	top: 0;
	right: 0;
}
/* Debug if needed */
/*
.htmx-request {
    background-color: red;
} */
