<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- load htmx -->
        <script src="/static/htmx.min.js"></script>
        <script src="/static/script.js"></script>
        <link rel="stylesheet" href="/static/style.css">

		<link rel="stylesheet" href="/static/pico.min.css" />
        {% if debug %}
        <!-- DebugMode START-->
        <style>.htmx-request {background-color: red;}</style>
        <!-- DebugMode END -->
        {% endif %}
        <title>{{title}}</title>
    </head>
    <body>
		<div style="position: fixed; top: 0; left: 0;">
			<p>Howdy, <i>{{username}}</i>!  (<a href="/session/userConfiguration?from=howdyTextChangeUsername&action=changeUsername&debug={{debug}}">Change Username?</a>)</p>
			{% if debug %}<p><b>CLIENT DEBUG MODE IS ENABLED.</b></p>{% endif %}
		</div>
		{% if show_debug_enable_option %}
		<!-- debug enable option enabled -->
		{% if debug %}
		<a class="tr-button" href="?debug=0&debugDisableSource=linkDebugOff">Disable Debug Mode</a>
		{% else %}
		<a class="tr-button" href="?debug=1&debugEnableSource=linkDebugOn">Enable Debug Mode</a>
		{% endif %}
		<!-- end debug enable option enabled -->
		{% endif %}
        <h1>{{title}}</h1>

        <h2>Current MBTI</h2>
        <hr />
        <select id="dominant" class="cog-select">
            <option value="ne">Ne</option>
            <option value="ni">Ni</option>
            <option value="se">Se</option>
            <option value="si">Si</option>
            <option value="te">Te</option>
            <option value="ti">Ti</option>
            <option value="fe">Fe</option>
            <option value="fi">Fi</option>
        </select>
        <select id="auxiliary" class="cog-select">
            <option value="ne">Ne</option>
            <option value="ni">Ni</option>
            <option value="se">Se</option>
            <option value="si">Si</option>
            <option value="te">Te</option>
            <option value="ti">Ti</option>
            <option value="fe">Fe</option>
            <option value="fi">Fi</option>
        </select>
        <select id="tertiary" class="cog-select">
            <option value="ne">Ne</option>
            <option value="ni">Ni</option>
            <option value="se">Se</option>
            <option value="si">Si</option>
            <option value="te">Te</option>
            <option value="ti">Ti</option>
            <option value="fe">Fe</option>
            <option value="fi">Fi</option>
        </select>
        <select id="inferior" class="cog-select">
            <option value="ne">Ne</option>
            <option value="ni">Ni</option>
            <option value="se">Se</option>
            <option value="si">Si</option>
            <option value="te">Te</option>
            <option value="ti">Ti</option>
            <option value="fe">Fe</option>
            <option value="fi">Fi</option>
        </select>
        <hr />
        <button id="submitButton" onclick="submitCurrentState()">Submit</button>
        <hr />
        <h2>MBTI Current</h2>
        <hr />
        <p><b>Last Updated By: </b><span id="lastUpdatedBy" hx-get="/api/accessInternals/changed_by" hx-trigger="every 1s">LOADING</span></p>
        <p><b>Current MBTI: </b><span id="mbtiCurrent" hx-get="/api/accessInternals/type_main_str" hx-trigger="every 1s">LOADING</span>
        <p><b>Current MBTI SHADOW: </b><span id="mbtiShadow" hx-get="/api/accessInternals/type_shadow_str" hx-trigger="every 1s">LOADING</span>
        <p><b>Function Stack:</b> <span hx-get="/api/getStack" hx-trigger="load" hx-swap="innerHTML" hx-on="htmx:afterRequest: this.removeAttribute('hx-trigger')">LOADING</span></p>
        {% if debug %}
        <div style="text-align: left;">
            <h3><i>(Debug) API::accessInternals (/api/accessInternals)</i></h3>
            <pre hx-get="/api/accessInternals" hx-trigger="every 2.5s">Hold on, loading...</pre>
			<p><b>Cookies</b> {{cookies}}</p>
			<p><b>Query Params</b> {{args}}</p>
        </div>
        <a style="position: fixed; bottom: 0; right: 0; z-index: 50;" href="/api/reset">Reset System</a>
        {% endif %}
        
    </body>
<!--    <footer>
        {% if debug %}Server Request Count: <span hx-get="/api/requestCount" hx-trigger="every 1s" hx-swap="innerHTML">LOADING</span>{% endif %}
        <span style="font-size: 11pt;"><br />Website Copyright &copy; Damien Boisvert (AlphaGameDeveloper) 2024.<br />Licensed under the GNU GPL, version 3 or (at your option) any later version. <b>GPL-3-OR-LATER</b></span>
    </footer> -->
</html>
